<!--

	(*・ω・)ﾉ
	I'm not the best at web development, if anything looks unusual then feel free to report it here: https://github.com/Erisa/erisa.uk/issues

-->

<!-- Styling -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/styles/global.css" />

<!-- Mastodon verification -->
<link rel="me" href="https://awau.social/@erisa" />

<!-- Primary Meta Tags -->
<title>{{ title }}</title>
<meta name="title" content="{{ title }}" />